body {
    width: 100vw;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
    background-color: #f5f8fa;
}

#forgot-password-frame {
   
    margin: 30% 0px 0px 0px;
   
    padding: 70px;
}

.user-login {
    margin-left: 100px;
    text-align: center;
    line-height: 3;
    text-decoration: none;
    color:#4e49d6;
}

@media (max-width: 640px) {
    #forgot-password-frame {
        width: 100%;
        padding: 20px;
    }
}
